* {
  font-family: 'Merriweather', sans-serif, 'Roboto';
}

.bounce {
  animation: bounce 1s infinite ease-in-out;
}


@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}


.tilt-effect {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
  will-change: transform;
}

.tilt-effect:hover {
  cursor: pointer;
  transform: perspective(1000px) rotateX(5deg) rotateY(10deg);
}